<div class="wrapper">
    <a href=""><img src="" alt=""> </a>
    <ul>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur debitis neque officiis voluptatum? Accusamus, amet at atque beatae corporis dicta distinctio dolores enim expedita facilis fugiat fugit impedit qui.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolores eaque eius excepturi libero, maxime odit officia sint ut? Ab accusamus accusantium aut error, iste libero nostrum quis tenetur veniam.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur enim fuga impedit nisi quam quasi vitae voluptatem. Asperiores blanditiis cumque dolor, eius facilis harum id inventore nobis quasi quibusdam? Inventore.</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores delectus dolore eligendi nam officia provident, tenetur velit? Ad aspernatur debitis dolor dolores ducimus earum, libero minima nemo quaerat quidem temporibus!</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cupiditate facilis impedit necessitatibus saepe, suscipit! Blanditiis cumque modi molestias nemo! Aut debitis eveniet ex ipsum nostrum quia unde! Aspernatur!</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam beatae blanditiis consectetur, ducimus, eaque eligendi et eum impedit iste laboriosam laudantium natus, non numquam officia qui sapiente temporibus vero?</a></li>
    </ul>
</div>